
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

div#MAIN > table {
	height: 100%;
	width: 100%;
	border: 0px;
	padding: 5px;	
}

div#MAIN > table > tbody > tr.main {
	height: 100%;
	width: 100%;
}

div#MAIN > table > tbody > tr.main > td {
	height: 100%;
}

table#component_viewer_res_unestimated_main {
	border: 2px solid;
	border-collapse: collapse;
}

table#component_viewer_res_unestimated_main > tbody > tr > th {
	border: 2px solid;
	padding-top: 10px;
}

table#component_viewer_res_unestimated_main > tbody > tr > td {
	border: 0.5px solid;
}

table#component_viewer_res_unestimated_main > tbody > tr.red {
	background-color: pink;
}
table#component_viewer_res_unestimated_main > tbody > tr.green {
	background-color: lightgreen;
}
table#component_viewer_res_unestimated_main > tbody > tr.blue {
	background-color: lightblue;
}
table#component_viewer_res_unestimated_main > tbody > tr.yellow {
	background-color: yellow;
}

table#component_viewer_res_schedule_main {
	border-collapse: collapse;
}

table#component_viewer_res_schedule_main > tbody > tr > th, table#component_viewer_res_schedule_main > tbody > tr > td {
	border: 3px solid;
}

table#component_viewer_res_schedule_main > tbody > tr > td > table > tbody > tr > td > table.task_table {
	border-collapse: collapse;	 
	border: 1px solid;
	width: 100%;
}

table#component_viewer_res_schedule_main > tbody > tr > td > table > tbody > tr > td > table.task_table.red {
	background-color: pink;
}
table#component_viewer_res_schedule_main > tbody > tr > td > table > tbody > tr > td > table.task_table.green {
	background-color: lightgreen;
}
table#component_viewer_res_schedule_main > tbody > tr > td > table > tbody > tr > td > table.task_table.blue {
	background-color: lightblue;
}
table#component_viewer_res_schedule_main > tbody > tr > td > table > tbody > tr > td > table.task_table.yellow {
	background-color: yellow;
}

svg.component_viewer_res_schedule_board {
	transform-origin: 0px 0px 0px;
}

svg.component_viewer_res_schedule_board > line.grid {
	stroke-width: 3;
	stroke: black;	
}

svg.component_viewer_res_schedule_board > g.lane > rect.outer {
	stroke-width: 1;
	stroke: black;	
}

svg.component_viewer_res_schedule_board > g.lane > rect.outer.red {
	fill: pink;
}
svg.component_viewer_res_schedule_board > g.lane > rect.outer.green {
	fill: lightgreen;
}
svg.component_viewer_res_schedule_board > g.lane > rect.outer.blue {
	fill: lightblue;
}
svg.component_viewer_res_schedule_board > g.lane > rect.outer.yellow {
	fill: yellow;
}

